---
import Layout from "../layouts/Layout.astro";
import Slow from "../components/Slow/index.astro";

export const prerender = false;
---

<Layout>
	<h1>On Demand + Server Islands</h1>
	<Slow server:defer />
</Layout>
