---
import Meta from "../components/Layouts/Meta";
import Header from "../components/Layouts/Header";
import Footer from "../components/Layouts/Footer";
---

<Meta title={"NAARY.ME"} content={"Personal website of naary"}>
	<Header title="NAARY.ME" />
	<main></main>
	<Footer />
</Meta>
