---

import Meta from "../components/Layouts/Meta";
import Header from "../components/Layouts/Header";
import Footer from "../components/Layouts/Footer";
import ExperiencesContainer from "../components/Routes/Experiences/Experiences.astro";

export const prerender = false;
---

<Meta title={"NAARY.ME"} content={"Personal website of naary"}>
	<Header title="Experiences" />
	<main>
		<ExperiencesContainer server:defer />
	</main>
	<Footer />
</Meta>
