---
import Meta from "../components/Layouts/Meta";
import Header from "../components/Layouts/Header";
import Footer from "../components/Layouts/Footer";
import Container from "../components/Routes/Experiences/Container.astro";
---

<Meta title={"NAARY.ME"} content={"Personal website of naary"}>
	<Header title="Experiences" />
	<main>
		<Container server:defer>
			<div slot="fallback">Loading...</div>
		</Container>
	</main>
	<Footer />
</Meta>
