---

import Meta from "../components/Layouts/Meta";
import Header from "../components/Layouts/Header";
import Footer from "../components/Layouts/Footer";
import ExperiencesContainer from "../components/Routes/Experiences/Experiences.astro";

Astro.response.headers.set(
	"Cache-Control",
	"public, s-maxage=86400, stale-while-revalidate=86400",
);

export const prerender = false;
---

<Meta title={"NAARY.ME"} content={"Personal website of naary"}>
	<Header title="Experiences" />
	<main>
		<ExperiencesContainer server:defer />
	</main>
	<Footer />
</Meta>
