---
import Meta from "../components/Layouts/Meta";
import {testStyle} from "../global.css"
---

<Meta title={"NAARY.ME"} content={"Personal website of naary"}>
	<main class={testStyle}>
		<h1 class="text-[50px]">Astroです</h1>
	</main>
</Meta>
