---
import Meta from "../components/Layouts/Meta";
import { secondIn } from "../styles/animation.css";
---

<Meta title={"NAARY.ME"} content={"Personal website of naary"}>
	<main class={secondIn}>
		<h1 class="text-[50px]">Astroです</h1>
	</main>
</Meta>
