---
import "@fontsource-variable/noto-sans-jp";

const { title, content } = Astro.props;
---

<html lang="ja" class="m-0 text-text-default">
	<head>
		<meta char-set="utf-8" />
		<link rel="icon" href="/favicon.ico" sizes="32x32" />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.webmanifest.txt" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={content} />
		<title>{title}</title>
	</head>
	<body class="bg-background-default m-0 text-text-default font-sans">
		<slot />
	</body>
</html>
